---
import MONTHS from '../../../public/matches.json'

interface Props{
  currentMatchId:string
}
const{currentMatchId} = Astro.props
---
{
  MONTHS.map(month => (
    <h2>{month.month}</h2>
    <div>
      {month.matches.filter(x =>x.id !== currentMatchId).map( match => (
        <article>
          <span>Argentina vs {match.versus}</span>
        </article>
      ))}
    </div>
  ))
}
