---
import MATCHES from '../../../public/matches.json'

// interface Props{
//   currentMatchId:string
// }
console.log(MATCHES.length)
---

{
	MATCHES.slice(1).map((match) => (
		<div>
			<article>
				<span>Argentina vs {match.teams[0]}</span>
			</article>
		</div>
	))
}
