---
import Heart from '@componentsicons/Heart.astro'
---

<section class="bg-bglight w-full h-10 flex justify-center">
	<div class="flex items-center gap-1">
		<p class="text-textlight font-semibold text-md">
			Hecho por <a
				href="owner"
				class="hover:text-primarylight text-accentlight underline underline-offset-2 leading-2 transition"
				>Joaco Vescapa</a
			>
		</p>
		<Heart class:list={'w-4'} />
	</div>
</section>
