---
import Heart from '@/components/icons/Heart.astro'
---

<section
	class="bg-bglight dark:bg-bgdark w-full h-10 flex justify-center border-0 pb-5"
>
	<div class="flex items-center gap-1">
		<p class="text-textlight dark:text-textdark font-semibold text-md">
			Hecho por
			<a
				href="info"
				class="hover:text-primarylight text-accentlight dark:text-accentdark underline underline-offset-2 leading-2 transition"
				>Joaco Vescapa</a
			>
		</p>
		<Heart class:list={'w-4'} />
	</div>
</section>
