<section class="py-8 md:py-20 px-10 lg:px-20">
	<h1
		class="text-pretty text-center text-5xl md:text-5xl lg:text-5xl 2xl:text-6xl font-bold md:text-center text-textlight dark:text-textdark"
	>
		La selección <span class="text-primarylight dark:text-primarydark"
			>ARGENTINA</span
		> juega en...
	</h1>
</section>
