---
import Linkedin from '@components/icons/Linkedin.astro'
import Github from './icons/Github.astro'
import ToogleThemeExample from './ToogleThemeExample.astro'

interface SocialInfo {
	link: string
	label: string
}
---

<header
	class="h-auto rounded-lg py-3 px-5 flex w-full justify-between items-center mt-3 bg-cardslight dark:bg-cardsdark"
>
	<div>
		<a href="/" class="outline-none">
			<img
				class="w-7 md:w-8 rounded-md aspect-square object-cover hover:scale-105 transition-all"
				src="/flags/argentina.webp"
				alt=""
			/>
		</a>
	</div>

	<div class="flex gap-3 text-accentlight/40 dark:text-primarydark/40">
		<!-- <a
			href="https://www.linkedin.com/in/joaquin-vesapa/"
			target="_blank"
			rel="noopener"
			class="outline-none"
		>
			<Linkedin
				class:list={'w-7 md:w-8 h-auto hover:text-accentlight dark:hover:text-accentdark hover:scale-105 transition-all'}
			/>
		</a>
		<a
			href="https://github.com/joaquinvesapa"
			target="_blank"
			rel="noopener"
			class="outline-none"
		>
			<Github
				class:list={'w-7 md:w-8 h-auto hover:text-accentlight hover:scale-105 transition-all'}
			/>
		</a> -->
		<ToogleThemeExample />
	</div>
</header>
