---
import Linkedin from "@components/icons/Linkedin.astro";
import Github from "./icons/Github.astro";

interface SocialInfo {
  link: string;
  label: string;
}
---

<header
  class="fixed t-0 mt-3 w-full top-0 z-10 flex items-center mx-auto px-72"
>
  <nav
    class="h-16 rounded-lg flex w-full justify-between items-center px-5 bg-cardslight dark:bg-cardsdark"
  >
    <div>
      <a href="/">
        <img
          class="w-11 rounded-full aspect-square object-cover hover:scale-105 transition-all"
          src="/argentina.webp"
          alt=""
        />
      </a>
    </div>

    <div class="flex gap-3 text-primarylight dark:text-primarydark">
      <a
        href="https://www.linkedin.com/in/joaquin-vesapa/"
        target="_blank"
        rel="noopener"
      >
        <Linkedin
          class:list={"w-8 h-auto hover:text-accentlight hover:scale-105 transition-all"}
        />
      </a>
      <a href="https://github.com/joaquinvesapa" target="_blank" rel="noopener">
        <Github
          class:list={"w-8 h-auto hover:text-accentlight hover:scale-105 transition-all"}
        />
      </a>
    </div>
  </nav>
</header>
