---
import Header from '@/components/Header.astro'
import Footer from '@/components/sections/Footer.astro'
import SEO from '@/components/SEO.astro'
import '@fontsource-variable/inter'
import { ViewTransitions } from 'astro:transitions'
interface Props {
	title: string
	desc: string
}

const { title, desc } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<SEO title={title} desc={desc} />
		<ViewTransitions />
	</head>
	<body>
		<main
			class="min-h-screen text-textlight bg-bglight dark:bg-bgdark px-5 md:px-20 xl:px-64 2xl:px-96 flex flex-col items-center pb-24"
		>
			<section class="w-full">
				<Header />
			</section>
			<slot />
		</main>
		<Footer />
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-5CFXQXXW"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		scrollbar-width: none;
	}
	@media (prefers-color-scheme: dark) {
		/* body {
			color: rgba(255, 255, 255, 0.9);
		} */
	}
	body {
		font-family: 'Inter Variable', sans-serif;
	}
</style>
